
@model OmdbAPISampleApp.Models.Movie
@{
    ViewBag.Title = "Movies Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-15 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" class="form-control" id="movieSearchBox" placeholder="Movie Title" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-15 col-sm-3">
        <span class ="batmanPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="spidermanPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="supermanPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="captainAmericaPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="daredevilPoster">
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-15 col-sm-3">
        <span class="theGodfatherPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="twelveAngryMenPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="pulpFictionPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="lordOfTheRingsPoster">
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span class="fightClubPoster">
        </span>
    </div>
</div>

@section Scripts
{
    <script>
        $(function() {
            //LoadFirstPageMovies();
            $("#movieSearchBox").blur(invokeSearch);
        });

        function invokeSearch() {
            var sMovieName = $("#movieSearchBox").val();
            if (!sMovieName) {
                return;
            }
            var oData;
            var sUrl = 'https://www.omdbapi.com/?t=' + sMovieName + '&type=movie&tomatoes=true';

            $.ajax(sUrl,
            {
                complete: function(pOXhr, pSStatus) {
                    oData = $.parseJSON(pOXhr.responseText);
                    if (oData != undefined) {
                        alert(oData.Plot);
                    }
                    //$Container.find('.title').text(oData.Title);
                    //$Container.find('.plot').text(oData.Plot);
                    //$Container.find('.poster').html('<img src="' + oData.Poster + '"/>');
                    //$Container.find('.year').text(oData.Year);
                    //$Container.show();
                }
            });
        }

        function LoadFirstPageMovies() {

            var movieNamesArray = ["Batman", "Superman", "Spiderman", "Captain America", "Daredevil",
            "The Godfather", "12 Angry Men", "Pulp Fiction", "Lord Of The Rings", "Fight Club"];
            var oBatmanData,
                oSpidermanData,
                oSupermanData,
                oCtpAmericaData,
                oDaredevilData,
                oTheGodfatherData,
                oSpidermanTwelveAngryMenData,
                oPulpFictionData,
                oLordOfTheRingsData,
                oFightClubData;
            var objectResultArray = [oBatmanData, oSpidermanData, oSupermanData, oCtpAmericaData,
                oDaredevilData, oTheGodfatherData, oSpidermanTwelveAngryMenData, oPulpFictionData,
                oLordOfTheRingsData, oFightClubData];

            $.when(
            {
                
            }).then(alert("hello"));
        
        }

    </script>
}