
@model OmdbAPISampleApp.Models.Movie
@{
    ViewBag.Title = "Movies Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-15 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" class="form-control" id="movieSearchBox" placeholder="Movie Title" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-15 col-sm-3">
        Hello one column
    </div>
    <div class="col-md-15 col-sm-3">
        Hello two column
    </div>
    <div class="col-md-15 col-sm-3">
        Hello three column
    </div>
    <div class="col-md-15 col-sm-3">
        Hello four column
    </div>
    <div class="col-md-15 col-sm-3">
        Hello five column
    </div>
</div>

@section Scripts
{
    <script>

        $(function() {
            $("#movieSearchBox").blur(invokeSearch);
        });
        function invokeSearch() {
            alert("blur Start the search");
        }

    </script>
}