
@model OmdbAPISampleApp.Models.Movie
@{
    ViewBag.Title = "Movies Grid";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-15 col-sm-3">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input type="text" class="form-control" id="movieSearchBox" placeholder="Movie Title" />
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-15 col-sm-3">
        <span>
            <img class ="batmanPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="deadpoolPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="supermanPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="captainAmericaPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="daredevilPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
</div>
<div class="row">
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="theGodfatherPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="twelveAngryMenPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="pulpFictionPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="lordOfTheRingsPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
    <div class="col-md-15 col-sm-3">
        <span>
            <img class="fightClubPoster img-responsive" src="~/Content/Images/loading_icon.png" />
        </span>
    </div>
</div>

@section Scripts
{
    <script>
        $(function() {
            LoadFirstPageMovies();
            $("#movieSearchBox").blur(invokeSearch);
        });

        function invokeSearch() {
            var sMovieName = $("#movieSearchBox").val();
            if (!sMovieName) {
                return;
            }
            var oData;
            var sUrl = 'https://www.omdbapi.com/?t=' + sMovieName + '&type=movie';

            $.ajax(sUrl,
            {
                complete: function(pOXhr, pSStatus) {
                    oData = $.parseJSON(pOXhr.responseText);
                    if (oData != undefined) {
                        alert(oData.Plot);
                    }
                    //$Container.find('.title').text(oData.Title);
                    //$Container.find('.plot').text(oData.Plot);
                    //$Container.find('.poster').html('<img src="' + oData.Poster + '"/>');
                    //$Container.find('.year').text(oData.Year);
                    //$Container.show();
                }
            });
        }

        function LoadFirstPageMovies() {

            var movieNamesArray = [
                "Batman", "Superman", "Deadpool", "Captain America", "Daredevil",
                "The Godfather", "12 Angry Men", "Pulp Fiction", "Lord Of The Rings", "Fight Club"
            ];
            var movieUrls = [];
            for (var i = 0; i < movieNamesArray.length; i++) {
                movieUrls.push('https://www.omdbapi.com/?t=' + movieNamesArray[i] + '&type=movie');
            }
            var oBatmanData,
                oDeadpoolData,
                oSupermanData,
                oCtpAmericaData,
                oDaredevilData,
                oTheGodfatherData,
                oSpidermanTwelveAngryMenData,
                oPulpFictionData,
                oLordOfTheRingsData,
                oFightClubData;
            var objectResultArray = [
                oBatmanData, oDeadpoolData, oSupermanData, oCtpAmericaData,
                oDaredevilData, oTheGodfatherData, oSpidermanTwelveAngryMenData, oPulpFictionData,
                oLordOfTheRingsData, oFightClubData
            ];

            $.ajax(movieUrls[0],
            {
                complete: function(pOXhr, pSStatus) {
                    objectResultArray[0] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[0] != undefined) {
                        AssignImageToProperGridCell(0, objectResultArray[0]);
                    }
                }
            });
            $.ajax(movieUrls[1],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[1] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[1] != undefined) {
                        AssignImageToProperGridCell(1, objectResultArray[1]);
                    }
                }
            });
            $.ajax(movieUrls[2],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[2] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[2] != undefined) {
                        AssignImageToProperGridCell(2, objectResultArray[2]);
                    }
                }
            });
            $.ajax(movieUrls[3],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[3] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[3] != undefined) {
                        AssignImageToProperGridCell(3, objectResultArray[3]);
                    }
                }
            });
            $.ajax(movieUrls[4],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[4] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[4] != undefined) {
                        AssignImageToProperGridCell(4, objectResultArray[4]);
                    }
                }
            });
            $.ajax(movieUrls[5],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[5] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[5] != undefined) {
                        AssignImageToProperGridCell(5, objectResultArray[5]);
                    }
                }
            });
            $.ajax(movieUrls[6],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[6] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[6] != undefined) {
                        AssignImageToProperGridCell(6, objectResultArray[6]);
                    }
                }
            });
            $.ajax(movieUrls[7],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[7] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[7] != undefined) {
                        AssignImageToProperGridCell(7, objectResultArray[7]);
                    }
                }
            });
            $.ajax(movieUrls[8],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[8] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[8] != undefined) {
                        AssignImageToProperGridCell(8, objectResultArray[8]);
                    }
                }
            });
            $.ajax(movieUrls[9],
            {
                complete: function (pOXhr, pSStatus) {
                    objectResultArray[9] = $.parseJSON(pOXhr.responseText);
                    if (objectResultArray[9] != undefined) {
                        AssignImageToProperGridCell(9, objectResultArray[9]);
                    }
                }
            });
        }

        //$Container.find('.title').text(oData.Title);
        //$Container.find('.plot').text(oData.Plot);
        //$Container.find('.poster').html('<img src="' + oData.Poster + '" />');
        //$Container.find('.year').text(oData.Year);
        //$Container.show();

        function AssignImageToProperGridCell(callNo, resultObject) {
            switch (callNo) {
                case 0:
                    $(".batmanPoster").attr("src", resultObject.Poster);
                    break;
                case 1:
                    $(".deadpoolPoster").attr("src", resultObject.Poster);
                    break;
                case 2:
                    $(".supermanPoster").attr("src", resultObject.Poster);
                    break;
                case 3:
                    $(".captainAmericaPoster").attr("src", resultObject.Poster);
                    break;
                case 4:
                    $(".daredevilPoster").attr("src", resultObject.Poster);
                    break;
                case 5:
                    $(".theGodfatherPoster").attr("src", resultObject.Poster);
                    break;
                case 6:
                    $(".twelveAngryMenPoster").attr("src", resultObject.Poster);
                    break;
                case 7:
                    $(".pulpFictionPoster").attr("src", resultObject.Poster);
                    break;
                case 8:
                    $(".lordOfTheRingsPoster").attr("src", resultObject.Poster);
                    break;
                case 9:
                    $(".fightClubPoster").attr("src", resultObject.Poster);
                    break;
                default:
                    break;
            }
        }

    </script>

}